[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bigalgebra"]
	path = bigalgebra
	url = https://github.com/fbertran/bigalgebra
	shallow = true
	registered = true
[submodule "BioStatR"]
	path = BioStatR
	url = https://github.com/fbertran/biostatr
	shallow = true
	registered = true
[submodule "bootPLS"]
	path = bootPLS
	url = https://github.com/fbertran/bootpls
	shallow = true
	registered = true
[submodule "c060"]
	path = c060
	url = https://github.com/fbertran/c060
	shallow = true
	registered = true
[submodule "Cascade"]
	path = Cascade
	url = https://github.com/fbertran/cascade
	shallow = true
	registered = true
[submodule "CascadeData"]
	path = CascadeData
	url = https://github.com/fbertran/cascadedata
	shallow = true
	registered = true
[submodule "granova"]
	path = granova
	url = https://github.com/cran/granova
	shallow = true
	registered = true
[submodule "ModStatR"]
	path = ModStatR
	url = https://github.com/fbertran/modstatr
	shallow = true
	registered = true
[submodule "networkABC"]
	path = networkABC
	url = https://github.com/fbertran/networkabc
	shallow = true
	registered = true
[submodule "Patterns"]
	path = Patterns
	url = https://github.com/fbertran/patterns
	shallow = true
	registered = true
[submodule "penalizedSVM"]
	path = penalizedSVM
	url = https://github.com/fbertran/penalizedsvm
	shallow = true
	registered = true
[submodule "peperr"]
	path = peperr
	url = https://github.com/fbertran/peperr
	shallow = true
	registered = true
[submodule "plsdepot"]
	path = plsdepot
	url = https://github.com/cran/plsdepot
	shallow = true
	registered = true
[submodule "plsdof"]
	path = plsdof
	url = https://github.com/fbertran/plsdof
	shallow = true
	registered = true
[submodule "plsRbeta"]
	path = plsRbeta
	url = https://github.com/fbertran/plsrbeta
	shallow = true
	registered = true
[submodule "plsRcox"]
	path = plsRcox
	url = https://github.com/fbertran/plsrcox
	shallow = true
	registered = true
[submodule "plsRglm"]
	path = plsRglm
	url = https://github.com/fbertran/plsrglm
	shallow = true
	registered = true
[submodule "sageR"]
	path = sageR
	url = https://github.com/fbertran/sager
	shallow = true
	registered = true
[submodule "SelectBoost"]
	path = SelectBoost
	url = https://github.com/fbertran/selectboost
	shallow = true
	registered = true
[submodule "survAUC"]
	path = survAUC
	url = https://github.com/fbertran/survauc
	shallow = true
	registered = true
