[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BioStatR"]
	path = BioStatR
	url = https://github.com/fbertran/biostatr
[submodule "Cascade"]
	path = Cascade
	url = https://github.com/fbertran/cascade
[submodule "CascadeData"]
	path = CascadeData
	url = https://github.com/fbertran/cascadedata
[submodule "ModStatR"]
	path = ModStatR
	url = https://github.com/fbertran/modstatr
[submodule "OneTwoSamples"]
	path = OneTwoSamples
	url = https://github.com/fbertran/onetwosamples
[submodule "Patterns"]
	path = Patterns
	url = https://github.com/fbertran/patterns
[submodule "Rttf2pt1"]
	path = Rttf2pt1
	url = https://github.com/fbertran/rttf2pt1
[submodule "SelectBoost"]
	path = SelectBoost
	url = https://github.com/fbertran/selectboost
[submodule "bigalgebra"]
	path = bigalgebra
	url = https://github.com/fbertran/bigalgebra
[submodule "bootPLS"]
	path = bootPLS
	url = https://github.com/fbertran/bootpls
[submodule "c060"]
	path = c060
	url = https://github.com/fbertran/c060
[submodule "extrafont"]
	path = extrafont
	url = https://github.com/fbertran/extrafont
[submodule "granova"]
	path = granova
	url = https://github.com/fbertran/granova
[submodule "networkABC"]
	path = networkABC
	url = https://github.com/fbertran/networkabc
[submodule "penalizedSVM"]
	path = penalizedSVM
	url = https://github.com/fbertran/penalizedsvm
[submodule "peperr"]
	path = peperr
	url = https://github.com/fbertran/peperr
[submodule "plsRbeta"]
	path = plsRbeta
	url = https://github.com/fbertran/plsrbeta
[submodule "plsRcox"]
	path = plsRcox
	url = https://github.com/fbertran/plsrcox
[submodule "plsRglm"]
	path = plsRglm
	url = https://github.com/fbertran/plsrglm
[submodule "plsdepot"]
	path = plsdepot
	url = https://github.com/cran/plsdepot
[submodule "plsdof"]
	path = plsdof
	url = https://github.com/fbertran/plsdof
[submodule "robustfa"]
	path = robustfa
	url = https://github.com/fbertran/robustfa
[submodule "sageR"]
	path = sageR
	url = https://github.com/fbertran/sager
[submodule "survAUC"]
	path = survAUC
	url = https://github.com/fbertran/survauc
[submodule "tester"]
	path = tester
	url = https://github.com/fbertran/tester
[submodule "turner"]
	path = turner
	url = https://github.com/fbertran/turner
